@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes modal {
    from {
        transform: translateY(-300%);
        opacity: 0;
      }
      to {
        transform: translateY(0);
        opacity: 1;
      }
    
}