@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes modal {
    from {
        transform: translateY(-300%);
        opacity: 0;
      }
      to {
        transform: translateY(0);
        opacity: 1;
      }  
}


/* styles.css */
* {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px; /* Set your desired font size here */
}

.hide_scroll{
  overflow: hidden !important;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
   flex: 0 0 100%;
  min-width: 0;
  cursor: grab; 
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
}

.shake {
  animation: shake 1.3s ease-in-out 0s infinite;
}

*{
  scrollbar-color: #717171 transparent;
  scrollbar-width: thin;
}


.bg-gray-900{
  background-color: #0e0e0e;
}

.leaflet-control{
  display: none;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 1s infinite linear alternate;
}
@keyframes l5 {
    0%  {box-shadow: 20px 0 #000, -20px 0 #0002;background: #000 }
    33% {box-shadow: 20px 0 #000, -20px 0 #0002;background: #0002}
    66% {box-shadow: 20px 0 #0002,-20px 0 #000; background: #0002}
    100%{box-shadow: 20px 0 #0002,-20px 0 #000; background: #000 }
}