@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes modal {
    from {
        transform: translateY(-300%);
        opacity: 0;
      }
      to {
        transform: translateY(0);
        opacity: 1;
      }  
}


/* styles.css */
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px; /* Set your desired font size here */
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
   flex: 0 0 100%;
  min-width: 0;
  cursor: grab; 
  
}
